
FLASK_ENV=development
SECRET_KEY=your-secret-key


DB_USER=root
DB_PASSWORD=your-password
DB_HOST=localhost
DB_PORT=3306
DB_NAME=clinic_db


MOMO_ENDPOINT=https://test-payment.momo.vn/v2/gateway/api/create
MOMO_PARTNER_CODE=MOMO
MOMO_ACCESS_KEY=your-access-key
MOMO_SECRET_KEY=your-secret-key
MOMO_RETURN_URL=http://localhost:5173/payment-success
MOMO_NOTIFY_URL=your-ngrok-url/api/momo/ipn


GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com